body {
    margin: 0;
    padding: 0;
    background-color: #a0d8ef;
    font-family: sans-serif;
 }
.topheader{
    background: url('toppage2.png') top center / cover no-repeat;
    display: flex;
    align-items: center;
    height: 100vh;  
}
.toppage_text{
    color: white;
    font-size: 50px;
    margin-left: 5%;
    border-left: 10px solid;
    padding-left: 15px;
}
.healist_list{
    
}
.header_title{
    margin-right: auto;
    margin-left: 15px;
    color: white;
}
.header_text {
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
    color: white;
}
.header_text a{
    color: white;
}
header {
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;
    background-color:rgba(255,255,255,0.3);
  }
.home_detail_image img{
    width: 100%;
}
.home_detail_image{
    width: 25%;
}
.home_detail_text{
    padding-left: 40px;
}
.table_main{
    padding-left: 40px;
    padding-top: 40px;
}
.section_main{
    background-color: white;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    padding-bottom: 35px;
}
.about_runa_name{
    font-size: 40px;
    color: #343434;
}
.about_runa{
    font-size: 20px;
    color: #343434;
}
.section_title{
    font-size: 30px;
}
.histories_year{
    font-size: 20px;
    color: #343434;
    padding-left: 40px;
}
.histories_month{
    font-size: 20px;
    color: #343434;
    padding-left: 40px;
}
.table_histories td{
}
.histories_text{
    font-size: 20px;
    margin-left: 50px;
    color: #a0d8ef;
}
.histories_text a:hover{
    font-size: 20px;
    color: #a0d8ef;
}
.histories_text span{
    font-size: 20px;
    color: #343434;
}
.histories_image_2019{
    position: relative;
    left: 50px;
    width: 50%;
    height: 25vh;
    border-radius: 5px;
    background-image:
	 linear-gradient(-90deg, white 90%, transparent 90%);
     opacity: 0.01;
}

.histories_image_td{
    
}
.histories_image img{
    display: block;
    position: absolute;
    top: -40px;
    width: 20vw;
    border-radius: 5px;
}
.histories_image{
    position: relative;
    left: 50px;
    width: 21vw;
    height: 20vh;
    border-radius: 5px;
    background-image:
	 linear-gradient(-90deg, #a0d8ef 90%, transparent 90%);
}
.mainlink a{
    text-decoration: none;
    color: #a0d8ef;
    border: 3px solid #a0d8ef;
    padding: 10px;
}
.mainlink a:hover{
    color: white;
    background-color: #a0d8ef;
    border:3px solid #a0d8ef;
}
.title img{
    width: 30%;
}
.title_L img{
    width: 30%;
}

footer{
   color: white; 
   text-align: center;
   margin-top: 50px;
}
/*--------------------------------------------------*/
#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #a0d8ef;
  /* 以下のコードを追加 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .loaded {
    opacity: 0;
    visibility: hidden;
  }
 .spinner{
    margin-top: 300px;
 }

  
  .spring-spinner, .spring-spinner * {
    box-sizing: border-box;
  }

  .spring-spinner {
    height: 60px;
    width: 60px;
  }

  .spring-spinner .spring-spinner-part {
    overflow: hidden;
    height: calc(60px / 2);
    width: 60px;
  }

  .spring-spinner  .spring-spinner-part.bottom {
     transform: rotate(180deg) scale(-1, 1);
   }

  .spring-spinner .spring-spinner-rotator {
    width: 60px;
    height: 60px;
    border: calc(60px / 7) solid transparent;
    border-right-color: white;
    border-top-color: white;
    border-radius: 50%;
    box-sizing: border-box;
    animation: spring-spinner-animation 3s ease-in-out infinite;
    transform: rotate(-200deg);
  }

  @keyframes spring-spinner-animation {
    0% {
      border-width: calc(60px / 7);
    }
    25% {
      border-width: calc(60px / 23.33);
    }
    50% {
      transform: rotate(115deg);
      border-width: calc(60px / 7);
    }
    75% {
      border-width: calc(60px / 23.33);
    }
    100% {
      border-width: calc(60px / 7);
    }
  }




  @keyframes sk-scaleout {
    0% {
      transform: scale(0);
    } 100% {
      transform: scale(1.0);
      opacity: 0;
    }
  }